 {# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
/* mensajes de error para el validate de los form de input*/
 input.error {
    border-color: #f00 !important;
}

small.required {
    color:#f00;
}
  
/* when not active use specificity to override the !important on border-(color) */
.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

fieldset {
	/*background-color: rgba(111, 66, 193, 0.3);*/
	  border-radius: 6px;
    border: 1px solid #0080FF;
    padding: 10px 10px 10px 10px;
}

legend {
	background-color: #FFFFFF;
	border: 1.5px solid #0080FF;
	border-radius: 4px;
	color: var(--green);
	font-size: 17px;
	font-weight: bold;
	padding: 5px 5px 3px 7px;
	width: auto;
}
</style>
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
  <script type="text/JavaScript" src="js/AsuetosNuevoEditar.js"></script>
  <script type="text/javascript" src="js/plugins/Inputmask-5.x/dist/jquery.inputmask.js"></script>
<!-- SOLO SCRIPT -->
<script language="javascript">
	// VALIDAR LOS ENTER EN EL FORMULARIO.
$(document).ready(function() {
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
// EVITAR EL ENTER EN UN FORM.
  $('form').keypress(function(e){   
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });
  // Llenas LISTAS DESPLEGABLES.
      listar_asuetos(); // LLENAR CATALOGO asuetos.
});

</script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0"  style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="asuetos.php" data-toggle="tooltip" data-placement="left" title="Usuarios">Buscar</a></li>
              <li class="breadcrumb-item active"><label for="iEdicionNuevo">Editar</label></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  <!-- Main content -->
    <section class="content">
     <!-- FORM PRINCIPAL -->
     <form action="" method="post" id="formUsers" name="formUsers" role="form" enctype="multipart/form-data">
     <div class="tab-content tab-validate"> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
        <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            
        <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">-->            
        <input type="hidden" id="id_user" name="id_user" value = "{{ id }}">            
        <input type="hidden" id="accion" name="accion" value = "{{ accion }}">            
        <!-- VARIABLES PARA LA MATRICULA CUANDO SEA NUEVO -->
        <div class="row">
            <div class="col-12">
            <div class="card ">
                <div class="card-header bg-gradient-navy">
                <h3 class="card-title">
                    <h3 class="card-title"><i class="fas fa-ticket-alt nav-icon"></i> <label for="txtEdicionNuevo">Edición</label>
                    </h3>
                    
                </h3>
                </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    <!-- Nav tabs -->
                        <div class="container py-2">
                        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Asuetos</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane p-2 active border border-primary" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <!-- MODAL BODY ROW -->
                                    <div class="modal-body row">
                                        <div class="col-md-12">
                                            <!-- INICIO DEL FORMULARIO -->
                                            <fieldset id="informacion">
                                                <legend>Información General</legend>
                                                <!-- FECHA -->
                                                <div class="form-group row">
                                                <!-- ESTATUS -->
                                                    <label class="col-lg-2 col-form-label form-control-label">Fecha</label>
                                                    <div class="col-lg-4">
                                                        <input class="form-control" type="date" id="txtFecha" name="txtFecha">
                                                        <input class="form-control" type="hidden" id="year" name="year">
                                                    </div>
                                                </div>
                                                <!-- NOMBRE DESCRIPCION ASUETOS -->
                                                <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Descripción Asuetos (Catálogo)</label>
                                                    <div class="col-lg-9">
                                                        <select class="custom-select" id="lstAsuetos" name="lstAsuetos"></select>
                                                    </div>
                                                </div>
                                                <!-- NOMBRE DESCRIPCION ASUETOS -->
                                                <div class="form-group row">
                                                    <label class="col-lg-3 col-form-label form-control-label">Descripción Asuetos</label>
                                                        <div class="col-lg-9">
                                                            <input class="form-control" type="text" name="txtDescripcion" id="txtDescripcion" maxlength="50">
                                                        </div>
                                                    </div>
                                            </fieldset>
                                            <!-- INICIO DEL FORMULARIO -->
                                        </div>
                                    </div>
                                </div> <!-- /.tab-content -->
                            </div> <!-- /.container -->
                        </div> <!-- /.card-body -->
                        <!-- /.card-footer -->
                        <div class="card-footer bg-gradient-cyan">
                        <div class="col d-flex justify-content-center">
                            <input class="btn btn-primary btn" type="submit" value="Guardar" name="Guardar">
                        </div>           
                        </div>
                    </div> <!-- /.card -->
            </div> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
            </div>
        </div>
     </div>
    </form> <!-- fin del form -->            
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}