{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block javascripts %}
 <!-- JS SCRIPT  -->
 <script type="text/JavaScript" src="js/main_layout_index.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 <script>
  $(document).ready(function () { 
    
  });
</script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
    // DETEERMINA EL TAMAÑO DE LA PANTALLA     
      if (screen.width < 1024) {
        //document.write ("Pequeña") 
        //$("#PantallaSize").val("Pantalla: Pequeña " + screen.width);
      }else if(screen.width < 1280) {
        //$("#PantallaSize").val("Pantalla: Mediana "  + screen.width);
        //document.write ("Mediana") 
      }else{
        //$("#PantallaSize").val("Pantalla: Grande "  + screen.width);
        //document.write ("Grande")
      }
            
    /*$(document).ajaxStart(function () {
         $('#myModal').modal('show');
     });*/
     $(document).ajaxStop(function () {
         $('#myModal').modal('hide');
     });
     $(document).ajaxError(function () {
         $('#myModal').modal('hide');
     });   
 });
 </script>
  {% endblock %}

{% block contenidos %}
<!-- Page header -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold">{{ nombre_institucion }} - {{ mensaje }}</h1>
            <!-- verifica el tamaño de la pantalla -->
              <input type="hidden" id="PantallaSize" name="PantallaSize" title="PantallaSize">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">/</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div> <!-- /.content-header -->
      <!-- CUANDO EL USUARIO SEA ROOT -->
      {% if codigo_perfil == '99' %}
      <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="col-md-12">
              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">PASOS INICIALES</h3>
      
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="BTools"><i class="fas fa-minus"></i>
                    </button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  El usuario predeterminado <b>"ROOT"</b>, permite crear lo siguiente:
                  <ol>
                    <li>Crear Empresa, tomará los datos principales para los diferentes informes o formularios.</li>
                    <li>Crear Personal Administrativo u Otro.</li>
                    <li>Crear Usuarios, El cual permite el acceso al sistema.</li>
                  </ol>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.row -->
          </div>
        </section>
      {% endif %}
      <!-- CUANDO EL USUARIO SEA ADMINISTRADOR Y PRODUCCION -->
        {% if codigo_perfil == '01' or codigo_perfil == '03' %}
        <!-- Main content -->
        <section class="content">
          	<!-- FORMULARIO PRINCIPAL. -->
	      <form  action="" method="post" name="form" id="formProduccionDiaria" role="form">
          <input type="hidden" id="accion" name="accion" value="BuscarProduccionDiaria">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-header bg-gradient-navy">
                  <h3 class="card-title">Producción Diaria</h3>
      
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Producción"><i class="fas fa-minus"></i>
                    </button>
                  </div><!-- /.card-tools -->
                </div>  <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col col-md-6">
                      <!-- SELECCIONAR ENTRE TODO Y FECHA -->
                        <div class="form-group">
                          <div class="form-group form-select">
                            <label for="Desde">Desde: 
                                <input type="date" id="FechaDesdePD" name="FechaDesdePD" class="form-control">
                            </label>
                            
                            <label for="Hasta">Hasta: 
                              <input type="date" id="FechaHastaPD" name="FechaHastaPD" class="form-control">
                            </label>
                          </div>
                        </div>   
                        <!-- tabla -->
                        <fieldset id="FieldsetTabla">
                          <legend> Producción | Diaria</legend>
                          <div class="table-responsive">
                              <table id="ProduccionDiaria" class="table table-striped table-condensed responsive nowrap" style="width: 100%;">
                                  <thead>
                                      <tr>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Dólares</th>
                                        <th style="text-align: center;">Colones</th>
                                      </tr>                
                                  </thead>
                                    <tbody id="listadoVerProduccionDiaria">
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                        <th style="text-align: center;">Fecha</th>
                                        <th style="text-align: center;">Dólares</th>
                                        <th style="text-align: center;">Colones</th>
                                      </tr>
                                    </tfoot>
                                </table>
                          </div>
                        </fieldset>
                        <!-- BOTONES -->
                        <!-- Botón Buscar -->
                          <a href="#" class="btn btn-primary" id="goBuscarProduccionDiaria"> Buscar <i class="fal fa-search-plus"></i></a>                   
                          <a href="#" class="btn btn-secondary" id="goBuscarProduccionDiariaImprimir"> Imprimir <i class="fal fa-print"></i></a>                   
                              <!-- SELECCIONAR COLONES O DOLARES            -->
                              <div class="form-group row p-1">
                                <label class="form-label"></label>
                                <div class="form-check-inline">
                                  <label class="form-check-label" for="radio1">
                                    <input type="radio" class="form-check-input" id="chkDolares" name="OptBuscarDC" value="dolares">Dólares
                                  </label>
                                </div>
                                <div class="form-check-inline">
                                  <label class="form-check-label" for="radio2">
                                    <input type="radio" class="form-check-input" id="chkColones" name="OptBuscarDC" value="colones" checked>Colones
                                  </label>
                                </div>
                              </div>
                    </div> <!-- FIN DE COL-MD-6 -->
                    <div class="col col-md-6">
                        <canvas id="myChart"></canvas>
                    </div>
                  </div>
                </div><!-- /.card-body -->
                  <!-- /.CARD  footer -->
                  <div class="card-footer bg-gradient-cyan">
                    
                  </div>
              </div>  <!-- /.card -->
            </div>             <!-- /.row -->
          </div>
        </form>
        </section>
        {% endif %}
      <!-- CUANDO EL USUARIO SEA ROOT -->
  </div> <!-- /.content-Wrapper, Contains page content. --> 
  {% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}