{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  /* mensajes de error para el validate de los form de input*/
   input.error {
      border-color: #f00 !important;
  }
  
  small.required {
      color:#f00;
  }
    
  /* when not active use specificity to override the !important on border-(color) */
  .nav-tabs .nav-link:not(.active) {
      border-color: transparent !important;
  }
  
  fieldset {
    /*background-color: rgba(111, 66, 193, 0.3);*/
      border-radius: 6px;
      border: 1px solid #0080FF;
      padding: 10px 10px 10px 10px;
      background-color: #D4D4D4;
  }
  
  legend {
    background-color: #FFFFFF;
    border: 1.5px solid #0080FF;
    border-radius: 4px;
    color: var(--green);
    font-size: 17px;
    font-weight: bold;
    padding: 5px 5px 3px 7px;
    width: auto;
  }
  </style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/main_asistencia.js"></script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="asistencia.php"> Asistencia</a></li>
              <li class="breadcrumb-item active">General</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


  <!-- Small boxes (Stat box) -->
  <div class="col-md-12">
  <!-- FORM PRINCIPAL -->
  <form action="" method="post" id="formAsistencia" name="formAsistencia" role="form" enctype="multipart/form-data">
            <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            -->
            <input type="hidden" id="id_user" name="id_" value = ''>            
            <input type="hidden" id="accion" name="accion" value = 'GuardarAsistencia'>            
    <div class="card w-50 m-auto">
      <div class="card-header bg-gradient-navy">

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
                 
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12">
            <h3 class="card-title"><i class="far fa-clipboard-list"></i> Control de Asistencia | Personal</h3>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body bg-gradient-gray">
        <!-- /.INPUT PARA EL MENU CONTEXTUAL -->
        <input type="hidden" id="MenuTab" value='{{ codigo_perfil }}'>  
        <!-- Fecha de la Asistencia -->       
            <div class="form-group">
            <label for="FechaAsistencia">Fecha:</label>
            <input type="date" class="form-control" id="FechaAsistencia" name="FechaAsistencia" autofocus>
          </div>
          <div class="form-group">
            <label for="CodigoPersonal">Código Empleado:</label>
                <div class="input-group">
                    <input type="text" class="form-control"  id="CodigoPersonal" name="CodigoPersonal" maxlength="5" minlength="5" autocomplete="off" autofocus>
                        <!-- Botón Buscar Personal -->
                        
                        <input type="button" class='btn btn-success' id="goBuscarPersonalAsistencia" data-toggle="tooltip" data-placement="left" value="Buscar">
                </div>
            <input type="text" class="form-control text-bold"  id="NombrePersonal" name="NombrePersonal" readonly required>
          </div>
          <!-- SELECT CATALOGO JORNADA -->
          <div class="input-group">
            <span class="input-group-text">Jornada</span>
            <select class="custom-select" name="lstJornada" id="lstJornada"></select>                                      
          </div>

          <!-- CHECK Y CATALOGO TIPO DE LICENCIA O PERMISO -->
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="TipoLicenciaCheck" name="TipoLicenciaCheck"> Tipo de Licencia
            </label>

            <div class="input-group">
              <span class="input-group-text" id="LblAsistencia"></span>
              <select class="custom-select" name="lstTipoLicencia" id="lstTipoLicencia" disabled></select>                                      
            </div>
          </div>

                    <!-- 
                      BOTÓN GUARDAR
                    -->
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <input class="btn btn-primary btn-md" type="submit" value="Enviar" name="goEnviar" id="goEnviar" tabindex="-1">
                      </div>
                    </div>   



                <div class="row" id="DivSoloPlanilla">
                  <div class="col col-md-12 col-lg-6 col-xl-6">
                    </div>               
              </div>
              <!-- BLOQUE DE BUSQUEDAS -->

        </div> <!-- /.card-body -->
    </div>      <!-- /.card -->
  </form>
</div> <!-- /.content-Wrapper, Contains page content. -->

{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}