 {# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
  <!-- Bootstrap core CSS -->
  <link href="js/plugins/mdb/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="js/plugins/mdb/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="js/plugins/mdb/css/style.css" rel="stylesheet">
<style>
/* mensajes de error para el validate de los form de input*/
 input.error {
    border-color: #f00 !important;
}

small.required {
    color:#f00;
}
  
/* when not active use specificity to override the !important on border-(color) */
.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

fieldset {
	/*background-color: rgba(111, 66, 193, 0.3);*/
	  border-radius: 6px;
    border: 1px solid #0080FF;
    padding: 10px 10px 10px 10px;
}

legend {
	background-color: #FFFFFF;
	border: 1.5px solid #0080FF;
	border-radius: 4px;
	color: var(--green);
	font-size: 17px;
	font-weight: bold;
	padding: 5px 5px 3px 7px;
	width: auto;
}
</style>
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/plugins/mdb/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/plugins/mdb/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/plugins/mdb/js/mdb.min.js"></script>

  <script type="text/JavaScript" src="js/main_nuevo_editar_personal_fianzas_prestamos.js"></script>
  <script type="text/JavaScript" src="js/main_editar_fianzas_prestamos.js"></script>
  <script type="text/javascript" src="js/jquery-mask/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="js/jquery-mask/jquery.inputmask.bundle.js"></script>
  <script type="text/javascript" src="js/formato-moneda.js"></script>


<script language="javascript">
	// VALIDAR LOS ENTER EN EL FORMULARIO.
$(document).ready(function() {
  $('form').keypress(function(e){   
    if(e == 13){
      return false;
    }
  });

  $('input').keypress(function(e){
    if(e.which == 13){
      return false;
    }
  });
});
</script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h4><label for="txtEdicionNuevo">Fianzas y Prestamos</label></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="personal.php" data-toggle="tooltip" data-placement="left" title="Personal">Buscar</a></li>
              <li class="breadcrumb-item active"><label for="iEdicionNuevo">Editar</label></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  <div class="container-fluid">
    <section id="InfoBoxFianzaPrestamo" style="background-color: #F5F5F5; box-shadow: #99FFFF;">
        <div class="row">
              <!-- .col para subir la imagen. -->
                <div class="col-12 col-md-6 col-lg-6">
                    <form name="formImagen" id="formImagen" class="text-center border border-light" action="#!">
                        <!-- .Id y Acción que provienen de la busqueda del Personal. -->
                        <input type="hidden" id="id_personal" name="id_personal" value = '{{ id_personal }}'>            
                        <input type="hidden" id="accion_buscar" name="accion_buscar" value = '{{ accion }}'>            

                        <div class="card mb-1" style="max-width: auto;">
                            <div class="row no-gutters">
                            <div class="col-md-3">
                                <img class="card-img-top img-fluid" style="width: 8rem;" id="ImagenPersonal" src="">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                  <h5 class="card-title"><label for="LblNombre">Nombre</label></h5>
                                    <p class="card-text-left text-default"><label for="LblCodigo" id="LblCodigo">Código</label></p>
                                </div>
                                <div class="d-flex justify-content-between">
                                  <button type="button" id="goNuevoFianza" class="btn btn-info btn-md" value="Fianza">Agregar Fianza</button>
                                  <button type="button" id="goNuevoPrestamo" class="btn btn-success btn-md" value="Prestamo">Agregar Prestamo</button>
                                </div>  
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
              
              <!-- .col para FORMULARIO DE LOS DATOS.. -->
              <!-- .col FIANZAS.. -->
              <div class="col-12 col-md-6 col-lg-3">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <!-- SALDO FIANZA -->
                    <div class="row">
                      <div class="col-12 col-md-6 col-lg-6">
                        <p><strong>Saldo Fianza</strong>
                          &nbsp<a href="#" data-accion="ImprimirFianza" class="small-box-footer text-white" data-toggle="tooltip" data-placement="left" title="Imprimir Informe - Fianza" style="font-size: 18px;"><i class="fas fa-print"></i></a>
                        </p>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                        <h3 class="p-0"><label for="LblFianza"></label>
                        </h3>
                      </div>
                    </div>
                    <!-- SUMAS FIANZA Y DEVOLUCION -->
                    <div class="row p-0">
                      <div class="col-12 col-md-4 col-lg-4">
                        <p><strong>Fianzas</strong></p>
                      </div>
                      <div class="col-12 col-md-8 col-lg-8">
                        <label for="LblSumaFianzas">$</label>
                      </div>
                    </div>
                    <div class="row p-0">
                      <div class="col-12 col-md-4 col-lg-4">
                        <p><strong>Devoluciones</strong></p>
                      </div>
                      <div class="col-12 col-md-8 col-lg-8">
                        <label for="LblSumaDevoluciones">$</label>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                  <div class="icon">
                    <i class="fas fa-hand-holding-usd"></i>
                  </div>
                  <a href="#" data-accion="BuscarTodosFianza" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
                <!-- .col PRESTAMOS.. -->
              <div class="col-12 col-md-3 col-lg-3">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                      <!-- SALDO FIANZA -->
                      <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                          <p><strong>Saldo Prestamo</strong>
                            <a href="#" data-accion="ImprimirPrestamo" class="small-box-footer text-white" data-toggle="tooltip" data-placement="left" title="Imprimir Informe - Prestamo" style="font-size: 18px;"><i class="fas fa-print"></i></a>
                          </p>
                          
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                          <h3 class="p-0"><label for="LblPrestamo"></label>
                          </h3>
                        </div>
                      </div>
                      <!-- SUMAS FIANZA Y DEVOLUCION -->
                      <div class="row p-0">
                        <div class="col-12 col-md-4 col-lg-4">
                          <p><strong>Prestamos</strong></p>
                        </div>
                        <div class="col-12 col-md-8 col-lg-8">
                          <label for="LblSumaPrestamos">$</label>
                        </div>
                      </div>
                      <div class="row p-0">
                        <div class="col-12 col-md-4 col-lg-4">
                          <p><strong>Descuentos</strong></p>
                        </div>
                        <div class="col-12 col-md-8 col-lg-8">
                          <label for="LblSumaDescuentos">$</label>
                        </div>
                      </div>
                      <!--  -->
                    
                  </div>
                  <div class="icon">
                    <i class="fas fa-university"></i>
                  </div>
                  <a href="#" data-accion="BuscarTodosPrestamo" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>

        </div>  <!-- div class row  - fin -->
    </section>  <!-- FIN DEL SECTION -->
    <!-- INCIIO DE FIANZA AGREGAR Y LISTADO.-->
    <section id="EditarNuevoFianzaPrestamo"  style="display: none;  box-shadow: #99FFFF;">
      <div class="row">              
        <div class="col col-lg-12">
          <div class="card border-success mb-3" style="max-width: auto;">
            <div class="card-header border-default" id="CardHeader"><h2><label for="LblFianzaPrestamo">Fianzas o Prestamos</label></h2></div>
            <div class="card-body text-default">
              <form name="formFianzaPrestamo" id="formFianzaPrestamo" class="border border-light p-1" action="#!">
                <input type="hidden" id="accionFianzaPrestamo" name="accionFianzaPrestamo" value = 'AgregarNuevo'>            
                <input type="hidden" id="CodigoPersonal" name="CodigoPersonal" value = ''>            
                <input type="hidden" id="IdFianzaPrestamo" name="IdFianzaPrestamo" value = '0'>            
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                    <!-- FECHA -->
                    <label class="form-label form-control-label">Fecha</label>
                    <input class="form-control" type="date" id="txtFecha" name="txtFecha" tabindex="1" autofocus>  
                    </div>
                    <!-- DATA PARA FIANZA Y PRESTAMO -->
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="SpanFianzaPrestamo">$</span>
                        </div>
                        <input id="FianzaPrestamo" name="FianzaPrestamo" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" onchange="MASK(this,this.value,'-$##,###,##0.00',1)" tabindex="2" value="0">
                        <div class="input-group-append">
                          <span class="input-group-text md-addon"></span>
                        </div>
                      </div>
                    </div>
                    <!-- DATA PARA DEVOLUCION Y DESCUENTO -->
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="SpanDevolucionDescuento">$</span>
                        </div>
                        <input id="DevolucionDescuento" name="DevolucionDescuento" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" onchange="MASK(this,this.value,'-$##,###,##0.00',1)" tabindex="3" value="0">
                        <div class="input-group-append">
                          <span class="input-group-text md-addon"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- DESCRIPCION  para FIANZA Y DESCRIPCIÓN-->
                  <div class="row">
                    <div class="col">
                          <div class="md-form input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text md-addon">Descripción</span>
                            </div>
                            <textarea id="Descripcion" name="Descripcion" class="md-textarea form-control" aria-label="With textarea" tabindex="4" required></textarea>
                          </div>
                    </div>
                  </div>
              </form>
            </div>
            <!-- CARD FOOTER - BOTONES GUARDAR -->
            <div class="card-footer border-success inner" id="CardFooter">
              <button class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Agregar" id = "goGuardar">
                <span class="fas fa-save"> Guardar </span>
              </button>
            </div>
          </div>  
          
                             
      </div>  <!-- div class col  - fin -->
    </div>  <!-- div class row  - fin -->
    </section>  <!-- FIN DEL SECTION -->
    <section id="ListarFianzaPrestamo">
            <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
              <!-- Card -->
              <!-- Card -->
          <!-- MOSTRAR IMAGENES SEGUN EL REGISTRO.-->
    </section>
  </div>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}