{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  /* mensajes de error para el validate de los form de input*/
   input.error {
      border-color: #f00 !important;
  }
  
  small.required {
      color:#f00;
  }
</style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/main_asistencia.js"></script>
    <script>
      var AM_or_PM = "AM";
      startTime();
      function startTime(){

          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();

          h = twelve_hour_time(h);
          m = checkTime(m);
          s = checkTime(s);

          $("#HoraActual").text(h + ":" + m + ":" + s +" "+AM_or_PM);
          setTimeout("startTime()", 1000);
      }

      function checkTime(i){

          if(i < 10){
              i = "0" + i;// add zero in front of numbers < 10
          }
          return i;
      }

      // CONVERT TO 12 HOUR TIME. SET AM OR PM
      function twelve_hour_time(h){

          if(h > 12){
              h = h - 12;
              AM_or_PM = " PM";
          }
          return h;

      }
    </script>
    <script>
      /* JavaScript code
        showTime();
        function showTime(){
        myDate = new Date();
        hours = myDate.getHours();
        minutes = myDate.getMinutes();
        seconds = myDate.getSeconds();
        if (hours < 10) hours = 0 + hours;

        if (minutes < 10) minutes = "0" + minutes;

        if (seconds < 10) seconds = "0" + seconds;

        $("#HoraActual").text(hours+ ":" +minutes+ ":" +seconds);
          setTimeout("showTime()", 1000);
        }*/
    </script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="asistencia.php"> Asistencia</a></li>
              <li class="breadcrumb-item active">Personal</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  <!-- Small boxes (Stat box) -->
    <section class="col col-sm-12 col-md-12 col-lg-8 col-xl-6 m-auto">
  <!-- FORM PRINCIPAL -->
      <form action="" method="post" id="formAsistencia" name="formAsistencia" role="form" enctype="multipart/form-data">
            <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            -->
            <input type="hidden" id="id_user" name="id_" value = ''>            
            <input type="hidden" id="accion" name="accion" value = 'GuardarAsistencia'>            
              <class="card m-auto">
                <div class="card-header bg-gradient-navy">
                  <div class="card-tools">
                    <span class="badge badge-primary" id="HoraActual"></span>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                  </div>        
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <h3 class="card-title"><i class="far fa-clipboard-list"></i> Personal | Control de Asistencia</h3>
                      </div>
                    </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <!-- /.INPUT PARA EL MENU CONTEXTUAL -->
                <input type="hidden" id="MenuTab" value='{{ codigo_perfil }}'>  
                <!-- Fecha de la Asistencia -->       
                    <div class="form-group">
                    <label for="FechaAsistencia">Fecha:</label>
                    <input type="date" class="form-control" id="FechaAsistencia" name="FechaAsistencia" autofocus>
                  </div>
                  <div class="form-group">
                    <label for="CodigoPersonal">Código Empleado:</label>
                        <div class="input-group">
                            <input type="text" class="form-control"  id="CodigoPersonal" name="CodigoPersonal" maxlength="5" minlength="5" autocomplete="off" autofocus>
                                <!-- Botón Buscar Personal -->
                                <a href="#" class="btn btn-info" id="goBuscarPersonalAsistencia"><i class="fas fa-search"></i> Buscar</a>
                        </div>
                        <!-- TEXTO DEL NOMBRE DEL EMPLEADO-->
                        <input type="text" class="form-control text-bold"  id="NombrePersonal" name="NombrePersonal" readonly required>
                        <!-- IMAGEN DEL EMPLEADO-->
                          <div class="img-thumbnail d-block mx-auto" style="width: 14rem;">
                            <img class="card-img-top img-thumbnail rounded mx-auto d-block" id="Imagen" src="">
                          </div>
                  </div>
                  <!-- SELECT CATALOGO JORNADA -->
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="Radios" id="Jornada" value="Jornada" required>
                      <label class="form-check-label text-info" for="Jornada">
                        Jornada
                      </label>
                    </div>
                    <div class="form-check form-check-inline text-danger">
                      <input class="form-check-input" type="radio" name="Radios" id="Permiso" value="Permiso">
                      <label class="form-check-label" for="Permiso">
                        Permiso
                      </label>
                    </div>

                    <!-- BLOQUE PARA LA JORNADA-->
                    <div class="border border-info rounded p-3" style="display: none;" id="DivJornada">
                      <label for="lstJornada">Por</label>
                      <select class="custom-select" name="lstJornada" id="lstJornada"></select>      
                    </div>

                    <!-- BLOQUE PARA LOS PERMISOS-->
                    <div class="border border-danger rounded p-3" style="display: none;" id="DivPermisos">
                      <label for="lstTipoLicencia">Por</label>
                      <select class="custom-select" name="lstTipoLicencia" id="lstTipoLicencia"></select>                                      
                    </div>
                  </div>
              </div> <!-- /.card-body -->
                  <!-- /.CARD  footer -->
                  <div class="card-footer bg-gradient-cyan p-0 d-flex justify-content-end">
                    <input class="btn btn-primary btn-md" type="submit" value="Enviar" name="goEnviar" id="goEnviar" tabindex="-1">
                  </div>
              </div>      <!-- /.card -->
      </form>
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->

{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}