{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
/* mensajes de error para el validate de los form de input*/
  input.error {
      border-color: #f00 !important;
  }
  small.required {
      color:#f00;
  }
  /* when not active use specificity to override the !important on border-(color) */
  .nav-tabs .nav-link:not(.active) {
      border-color: transparent !important;
  }
</style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/main_planilla.js"></script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="planilla.php"> Planilla</a></li>
              <li class="breadcrumb-item active">General</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  <!-- Small boxes (Stat box) -->
  <section class="col col-sm-12 col-md-12 col-lg-8 col-xl-6 m-auto" id="PantallaPrincipal">
    <div class="card m-auto">
      <div class="card-header bg-gradient-navy">
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" aria-label="Mins"><i class="fas fa-minus"></i>
          </button>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xl-12">
              <h3 class="card-title"><i class="far fa-file-invoice-dollar"></i>
                Planilla | Reporte de Trabajo</h3>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
    <!-- /.card-header -->
      <div class="card-body">
        <!-- /.PARA LA BUSQUEDA MODIFICANDO EL FILTER SEARCH -->
        <!-- /.INPUT PARA EL MENU CONTEXTUAL -->
          <input type="hidden" id="MenuTab" value="{{ codigo_perfil }}">         
                <div class="row" id="DivSoloPlanilla">
                  <div class="col col-md-12 col-lg-12 col-xl-12">
                    <!-- SELECT CATALOGO JORNADA -->
                    <div class="form-group">
                      <label for="Mes">Mes</label>
                      <select class="custom-select" name="lstFechaMes" id="lstFechaMes" aria-label="lstrFechaMes">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>                                      
                    </div>
                    <!-- AÑO ACTUAL-->
                    <div class="form-group">
                      <label class="año">Año</label>
                      <select class="custom-select" name="lstFechaAño" id="lstFechaAño" aria-label="lstFechaAño"></select>                                      
                    </div>
                    <!-- QUINCENA-->
                    <div class="form-group">
                    <label for="Quincena">Quincena</label>
                        <select class="custom-select" name="lstQuincena" id="lstQuincena" aria-label="lstQuincena">
                        <option value="Q1" selected>Primera</option>
                        <option value="Q2">Segunda</option>
                      </select>    
                    </div>
                    <!-- DEPARTAMENTO-->
                    <div class="form-group">
                      <label for="lstDepartamentoEmpresa">Departamento en la Empresa</label>
                      <select class="custom-select" name="lstDepartamentoEmpresa" id="lstDepartamentoEmpresa"></select>    
                    </div>
                    <!-- RUTA - APARACERA CUANDO EN DEPARTAMENTO SE SELECCIONE MOTORISTAS-->
                    <div class="form-group" id="DivRuta" style="display: none;">
                      <label for="Ruta">Ruta</label>
                      <select class="custom-select" name="lstRuta" id="lstRuta"></select>
                      <label for="CodigoRutaResponsable" class="text-primary"></label>    
                    </div>
              </div>
                </div>
      </div> <!-- CARDO BODY CIERRE-->
      <!-- /.CARD  footer -->
        <div class="card-footer bg-gradient-cyan p-0 d-flex justify-content-center">
          <div class="d-flex justify-content-between">
            <!-- Botón Crear Planilla -->
            <button class="btn btn-success btn-lg" id="goCrearPlanilla" data-toggle="tooltip" data-placement="left" title="Crear" type="button"> 
              <div style="text-align:center;"><i class="fad fa-clipboard-list"></i></div>  
            </button>

            <!-- Botón Crear Planilla -->
            <button class="btn btn-primary btn-lg" id="goCalcularPlanilla" data-toggle="tooltip" data-placement="left" title="Calcular"> 
              <div style="text-align:center;"><i class="fal fa-clipboard-list-check"></i></div>  
            </button>
          </div>
              <!-- SELECCIONAR con o sin calculos           -->
              <div class="form-group row p-2">
                <label class="form-label"></label>
                <div class="form-check-inline">
                  <label class="form-check-label" for="chkCalcular">
                    <input type="checkbox" class="form-check-input" id="chkCalcular" name="chkCalcular" value="yes">Sin Calcular
                  </label>
                </div>
                </div>
        </div>
    </div>
  </section>
  </div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}