{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}
{% block extraCSS %}
<style>
/* mensajes de error para el validate de los form de input*/
 input.error {
    border-color: #f00 !important;
}

small.required {
    color:#f00;
}
  
/* when not active use specificity to override the !important on border-(color) */
.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

fieldset {
	/*background-color: rgba(111, 66, 193, 0.3);*/
	  border-radius: 6px;
    border: 1px solid #0080FF;
    padding: 10px 10px 10px 10px;
    background-color: #D4D4D4;
}

legend {
	background-color: #FFFFFF;
	border: 1.5px solid #0080FF;
	border-radius: 4px;
	color: var(--green);
	font-size: 17px;
	font-weight: bold;
	padding: 5px 5px 3px 7px;
	width: auto;
}

</style>
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
<script type="text/JavaScript" src="js/main_produccion_calcular.js"></script>
<script type="text/javascript" src="js/plugins/Inputmask-5.x/dist/jquery.inputmask.js"></script>

<script>   
$(document).ready(function() {
// JQuery.Inputmask example.
var customInputmask = (function() {
  var config = {
    extendDefaults: {
      showMaskOnHover: false,
      showMaskOnFocus: false
    },
    extendDefinitions: {},
    extendAliases: {
      'numeric': {
        radixPoint: '.',
        groupSeparator: ',',
        autoGroup: true,
        placeholder: ''
      },
      'currency': {
        alias: 'numeric',
        prefix: '$',
        digits: '*',
        digitsOptional: true,
        radixPoint: '.',
        groupSeparator: ',',
        autoGroup: true,
        placeholder: ''
      },
      'euro': {
        alias: 'currency',
        prefix: '',
        suffix: ' €',
        radixPoint: ',',
        groupSeparator: '',
        autoGroup: false,
      },
      'euroComplex': {
        alias: 'currency',
        prefix: '',
        suffix: ' €',
      }
    }
  };

  var init = function() {
    Inputmask.extendDefaults(config.extendDefaults);
    Inputmask.extendDefinitions(config.extendDefinitions);
    Inputmask.extendAliases(config.extendAliases);
    $('[data-inputmask]').inputmask();
  };

  return {
    init: init
  };
}());

// Initialize app.
(function() {
  customInputmask.init();
}());
/////////////////////////////////////////////////////////////////////////////
  // PINTA EL INPUT OUT E IN. input
  document.querySelectorAll('input').forEach((input) => {
      input.addEventListener('focusin', (event) => {
      event.target.style.background = '#CBE9EA';    
      });
    });

    document.querySelectorAll('input').forEach((input) => {
        input.addEventListener('focusout', (event) => {
      event.target.style.background = '';    
      });
    });
  // PINTA EL INPUT OUT E IN. SELECT
  document.querySelectorAll('select').forEach((input) => {
      input.addEventListener('focusin', (event) => {
      event.target.style.background = '#CBE9EA';    
      });
    });

    document.querySelectorAll('select').forEach((input) => {
        input.addEventListener('focusout', (event) => {
      event.target.style.background = '';    
      });
    });
}); // FIN DEL DOCUMENTO READY
</script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
<section class="content">
    <div class="card">
      <div class="card-header bg-gradient-navy">
        <!-- /.card-tools -->
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Buscar"><i class="fas fa-minus"></i>
          </button>
        </div>
        
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xl-6">
            <h3 class="card-title"><i class="far fa-funnel-dollar"></i> Calcular | Control de Ingresos de Tiquetes </h3>
          </div>

          <div class="col-md-6 col-lg-6 col-xl-6  d-flex justify-content-end">
            <!-- Botón Buscar por Tiquete.-->
            <button class="btn btn-info btn-md" id="goBuscarPorTiquete" data-toggle="tooltip" data-placement="left" title="Buscar por Tiquete"> 
              <div><i class="fal fa-ticket"></i></div>  
            </button>                    
            <!-- Botón Buscar control de tiquetes procesados.-->
            <button class="btn btn-info btn-md" data-toggle="tooltip" data-placement="top" title="Ver Controles Procesados" id = "goImprimir">
              <span class="fas fa-print-search"></span>
            </button>
          </div>

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body" style="background-color:darkgrey">
      <div class="row"> <!-- row principal -->
        <div class="col col-md-12 col-lg-6 col-xl-6"> <!-- COL PRINCPAL -->
          <div class="form-group">
            <fieldset id="FieldBuscarProduccion">
              <legend>Buscar</legend>
              <div class="row">
                <div class="col-md-5 col-lg-5 col-xl-5">
                  <div class="input-group">
                    <span class="input-group-text">Fecha</span>
                    <input type="date" id="FechaBuscarProduccion" name="FechaBuscarProduccion" title="Fecha Producción." class="form-control"  required autofocus>  
                  </div>
                </div>

                <div class="col-md-7 col-lg-7 col-xl-7">
                  <div class="input-group">
                    <span class="input-group-text">N.º Control</span>
                      <input type="text" name="IdProduccion" id="IdProduccion" value="" title="Id_" class="form-control input-lg font-weight-bold text-green text-right" style="font-size: xx-large;" autocomplete="off">
                      
                      <button class="btn btn-secondary" id="goBuscarProduccion" title="Buscar Producción."> 
                        <div><i class="fa fa-search"></i></div>  
                      </button>
                  </div>
                </div>
              </div>     
            </fieldset>            
          </div> <!-- row del primero grupo-->

          <!-- FIELD INFORMACIÓN - NO PRODUCCION -->
            <fieldset id="NoProduccion" style="display: none;">
              <legend>Producción.</legend>
                <h3><label class="text-secondary text-center">No hay Producción Creada</label></h3>
            </fieldset>

        <!-- FIELD INFORMACIÓN - PRODUCCION (MOTORISTA) -->
            <fieldset id="FieldInformacion" style="display: none;">
              <legend>Información General</legend>
              <div class="form-group row">
                <!--   RUTA  -->
                <div class="col col-md-12">
                  <label> Ruta: <span class="badge badge-warning" id="Ruta">Ruta</span></label>
                </div>
                <!-- JORNADA -->
                  <div class="col col-md-6">
                    <label> Jornada: <span class="badge badge-warning" id="Jornada">a.m.</span></label>
                  </div>                
                <!-- PRECIO PUBLICO -->
                <div class="col col-md-6">
                  <label> Precio Público: <span class="badge badge-warning" id="PrecioPublico">$</span></label>
                </div>                
                <!--   RUTA  -->
                <div class="col col-md-12">
                  <div class="input-group">
                      <span class="input-group-text bg-black">Ruta</span>
                      <select class="custom-select" name="lstRuta" id="lstRuta"></select>
                  </div>
              </div>
              </div>
              <!-- codigo NOmbre Personal . -->
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Nombre (motorista)</label>
                <div class="col-lg-9">
                     <select class="" name="lstPersonal" id="lstPersonal"></select> 
                </div>
              </div>
                <div class="form-group row">
                <!-- codigo Bus N.º . -->
                <label class="col-lg-3 col-form-label form-control-label">Bus N.º</label>
                <div class="col-lg-9">
                    <select class="form-control" name="lstBusNumero" id="lstBusNumero"></select>
                </div>
                </div>

                <div class="form-group row">
                  <!-- codigo Bus N.º . -->
                  <label class="col-lg-3 col-form-label form-control-label">Total Vueltas</label>
                  <div class="col-lg-9">
                    <input type="text" class="form-control font-weight-bold input-md" name="TotalVueltas" id="TotalVueltas" value="" style="font-size: large; text-align: right;" autocomplete="off">
                  </div>
              </div>
            </fieldset>
            <!-- FIELD INFORMACIÓN PRODUCCIÓN TABLA CON SERIES DE TIQUETES ASIGNADOS. -->
            <!-- FIELD INFORMACIÓN PRODUCCIÓN - DEVOLUCION E INGRESO. -->
            <fieldset id="FieldsetDevolucion" style="display: none;">
              <legend>Talonario Tiquete | Cola</legend>
              <div class="row d-flex justify-content-end">
                <!--   DESDE  -->
                <div class="col col-md-12 col-lg-12 col-xl-12 d-flex">
                    <div class="input-group">
                        <span class="input-group-text">De: </span>
                        <input type="text" class="form-control font-weight-bold input-lg" name="DesdeAsignadoPartial01" id="DesdeAsignadoPartial01" value="" style="font-size: xx-large; text-align: right;" autocomplete="off" readonly="readonly">
                        <span class="input-group-text">: </span>
                        <input type="text" class="form-control font-weight-bold input-lg" name="DesdeAsignadoPartial02" id="DesdeAsignadoPartial02" value=""  style="font-size: xx-large; text-align: right" autocomplete="off" maxlength="2" pattern="^[0-9]+">

                        <input type="hidden" class="form-control font-weight-bold input-lg" name="DesdeAsignado" id="DesdeAsignado" value="" data-inputmask="'alias': 'numeric'" style="font-size: x-large;" autocomplete="off">
                    </div>
                </div>
                <!-- hasta -->
                      <input type="hidden" class="form-control font-weight-bold input-lg" name="HastaAsignado" id="HastaAsignado" value="" data-inputmask="'alias': 'numeric'" readonly style="font-size: x-large;">

              </div>

              <div class="row">
                <div class="col d-flex justify-content-end">
                  <!-- <input class="btn btn-dark btn-lg" type="button" value="Guardar" name="goActualizarTalonario" id="goActualizarTalonario" disabled>                -->
                </div>
              </div>          
            </fieldset>    
          </div>

        <div class="col col-md-12 col-lg-6 col-xl-6"> <!-- COL SECUNDARIO -->
          <fieldset id="FieldsetTabla" style="display: none;">
            <legend>Tabla Talonario | Serie - Tiquete</legend>
            <table id="listadoAsignacion" class="table table-condensed display responsive nowrap" style="width: 100%; padding: 0; text-align: right;">
                <thead>
                    <tr>
                      <th style="text-align: left;"></th>
                      <th></th>
                      <th></th>
                      <th style="text-align: center;">Serie</th>
                      <th style="text-align: right;">Desde</th>
                      <th style="text-align: right;">Hasta</th>
                      <th style="text-align: right;">Cola</th>
                      <th style="text-align: right;">Total</th>
                    </tr>                
                </thead>
                  <tbody id="listadoDevolucionIngresoOk">
                  </tbody>
                  <tfoot>
                    <tr>
                        <th style="text-align: left;"></th>
                        <th></th>
                        <th></th>
                        <th style="text-align: center;">Serie</th>
                        <th style="text-align: right;">Desde</th>
                        <th style="text-align: right;">Hasta</th>
                        <th style="text-align: right;">Cola</th>
                        <th style="text-align: right;">Total</th>
                    </tr>
                    <div class="row">
                      <div class="col d-flex justify-content-between">
                        <input class="btn btn-dark btn-md" type="button" value="Calcular" name="goCalcular" id="goCalcular">
                        <label class="text-bold" style="font-size: x-large; color:blue;" for="LblIngreso"></label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <!-- <label for="">Inventiario Tiquete</label> -->
                          <input type="hidden" name="CodigoInventarioTiquete" id="CodigoInventarioTiquete"> 
                        <!-- <label for="">Cantidad Tiquete</label> -->
                          <input type="hidden" name="CantidadTiqueteAsignado" id="CantidadTiqueteAsignado">
                         <!--<label for="">Precio Publico</label> -->
                          <input type="hidden" id="PrecioPublico">
                        <!-- <label for="">total</label> -->
                          <input type="hidden" name="TotalAsignado" id="TotalAsignado">
                         <!-- <label for="">Codigo producción Asignado</label> -->
                          <input type="hidden" id="CodigoProduccionAsignacion">
                        <!-- <label for="">Código Producción</label> -->
                          <input type="hidden" id="CodigoProduccion">
                        <!-- <label for="">Desde</label> -->
                        <input type="hidden" id="DesdeTablaAsignado">
                        <!-- <label for="">Hasta</label> -->
                        <input type="hidden" id="HastaTablaAsignado">
                      </div>
                    </div>
                  </tfoot>
              </table>
              <div class="row">
                <div class="col">
                  <input class="btn btn-dark btn-md" type="button" value="Finalizar" name="goFinalizar" id="goFinalizar">
                </div>
              </div>
          </fieldset>
        </div> <!-- COL SECUNDARIO -->
      </div> <!-- row principal -->
    
      </div>        <!-- /.card-body -->
    </div>      <!-- /.card -->
  
</section>
</div> <!-- /.content-Wrapper, Contains page content. -->
<!-- plantilla que contiene el . -->
{% include 'VentanaBuscarPorTiquete.html' %}

{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}