{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
  /* mensajes de error para el validate de los form de input*/
   input.error {
      border-color: #f00 !important;
  }
  
  small.required {
      color:#f00;
  }
    
  /* when not active use specificity to override the !important on border-(color) */
  .nav-tabs .nav-link:not(.active) {
      border-color: transparent !important;
  }
  
  fieldset {
    /*background-color: rgba(111, 66, 193, 0.3);*/
      border-radius: 6px;
      border: 1px solid #0080FF;
      padding: 10px 10px 10px 10px;
      background-color: #D4D4D4;
  }
  
  legend {
    background-color: #FFFFFF;
    border: 1.5px solid #0080FF;
    border-radius: 4px;
    color: var(--green);
    font-size: 17px;
    font-weight: bold;
    padding: 5px 5px 3px 7px;
    width: auto;
  }
  </style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/main_produccion_imprimir.js"></script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="produccion.php"> Producción</a></li>
              <li class="breadcrumb-item active">Produccion | Imprimir</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


  <!-- Small boxes (Stat box) -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-gradient-navy">
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
        <div class="row">
          <div class="col col-md-12">
            <h3 class="card-title"><i class="fad fa-layer-group nav-icon"></i> Producción - Control de Ingresos de Tickets</h3>
          </div>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <!-- /.PARA LA BUSQUEDA MODIFICANDO EL FILTER SEARCH -->
        <div class="card-body">

          <fieldset id="field_fecha">
            <legend>Fecha | N.º Control</legend>
                <div class="row">
                  <div class="col col-md-12 col-lg-6 col-xl-6">
                    <div class="input-group">
                        <span class="input-group-text">Fecha</span>
                        <input type="date" id="FechaProduccion" name="FechaProduccion" class="form-control" required autofocus>
                      <!-- Botón Buscar Producción -->
                      <button type="button" class="btn btn-secondary" id="goBuscarProduccion" data-toggle="tooltip" data-placement="left" title="Buscar Controles"><div><i class="fal fa-file-search"></i></div></button>
                      <!-- Botón Imprimir Toda La Producción.-->
                      <button type="button" class="btn btn-secondary" id="goImprimirProduccionCompleta" data-toggle="tooltip" data-placement="left" title="Imprimir Controles por Fecha"><div><i class="fal fa-print"></i></div></button>
                    </div> 
                </div>
                  <div class="col col-md-12 col-lg-6 col-xl-6">
                    <div class="input-group">
                        <span class="input-group-text text-bold">N.º Control</span>
                        <input type="text" id="NumeroCorrelativo" name="NumeroCorrelativo" class="form-control input-lg font-weight-bold text-green text-right" value="" style="font-size: xx-large;" autocomplete="off">
                    </div>
                  </div>
                </div>
            </fieldset>
            <fieldset id="ProduccionTabla" style="display: none;">
              <legend>Producción</legend>
              <div class="row">
                <div class="col col-md-6 d-flex justify-content-start p-0">
                  <label for="LblProduccionesTotal" style="padding: 0px; font-size: x-large; color:black; text-align: left;">Total Producciones: </label>
                </div>
                <div class="col col-md-6 d-flex justify-content-end p-0">
                  <button type="button" class="btn btn-dark" id="goImprmirProduccion" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Imprimir Producción">
                    <span class="fal fa-print-search"></span>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <table id="TablaProduccion" class="table table-stripe table-sm table-hover responsive nowrap" style="width: 100%;">
                    <thead>
                        <tr>
                          <th style="padding: 0px; font-size: large; color:black; text-align: left;"></th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: left;">Fecha</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: left;">Ruta</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Producción</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Serie</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Color</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Precio Público</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: right;">Rango</th>
                        </tr>                
                    </thead>
                      <tbody id="listadoOk">
                      </tbody>
                      <tfoot>
                        <tr>
                          <th></th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: left;">Fecha</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: left;">Ruta</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Producción</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Serie</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Color</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: center;">Precio Público</th>
                          <th style="padding: 0px; font-size: large; color:blue; text-align: right;">Rango</th>
                        </tr>
                      </tfoot>
                  </table>
                </div>
              </div>
            </fieldset>
        </div> <!-- /.card-body -->
      </div>        <!-- /.card-body -->
    </div>      <!-- /.card -->
  </div>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}