{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block javascripts %}
 <!-- JS SCRIPT  -->

<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
    /*$(document).ajaxStart(function () {
         $('#myModal').modal('show');
     });*/
     $(document).ajaxStop(function () {
         $('#myModal').modal('hide');
     });
     $(document).ajaxError(function () {
         $('#myModal').modal('hide');
     });   
 });
 </script>
  {% endblock %}

{% block contenidos %}
<!-- Page header -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{ nombre_institucion }}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">Configuración</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
  <!-- CUANDO EL USUARIO SEA ROOT -->
  {% if codigo_perfil == '99' %}
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="col-md-12">
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">PASOS INICIALES</h3>
  
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              El usuario predeterminado <b>"ROOT"</b>, permite crear lo siguiente:
              <ol>
                <li>Crear Empresa, tomará los datos principales para los diferentes informes o formularios.</li>
                <li>Crear Personal Administrativo u Otro.</li>
                <li>Crear Usuarios, El cual permite el acceso al sistema.</li>
              </ol>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.row -->
      </div>
    </section>
  {% endif %}
  <!-- CUANDO EL USUARIO SEA ROOT -->
   
  </div> <!-- /.content-Wrapper, Contains page content. --> 
  {% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}