{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<link href="css/styles-loading.css" rel="stylesheet">
<style>
  /* mensajes de error para el validate de los form de input*/
  input.error {
      border-color: #f00 !important;
  }
  small.required {
      color:#f00;
  }
</style>
{% endblock %}

{% block javascripts %}
    <!-- JS para esta página. -->
    <script type="text/JavaScript" src="js/Asistencia/PorNomina.js"></script> 
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
    var screen = $('#loading-screen');
      configureLoadingScreen(screen);
  })
</script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h4></h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="asistencia.php"> Asistencia</a></li>
              <li class="breadcrumb-item active">Seleccionar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
  <!-- Small boxes (Stat box) -->
    <section class="col col-md-12" id="PantallaPrincipal">
      <!-- FORM PRINCIPAL -->
      <form action="" method="post" id="formAsistenciaPorNomina" name="formAsistenciaPorNomina" role="form" enctype="multipart/form-data">
        <input type="hidden" name="CodigoPersonal" id="CodigoPersonal" value="{{ codigo_personal}}" title="CodigoPersonal">
        <input type="hidden" name="CodigoPerfil" id="CodigoPerfil" value="{{ codigo_perfil}}" title="CodigoPerfil">
        <input type="hidden" name="CodigoRuta" id="CodigoRuta" value="Ninguno" title="CodigoRuta">
        <input type="hidden" id="CodigoDepartamentoEmpresa" name="CodigoDepartamentoEmpresa" value = "{{ CodigoDepartamentoEmpresa }}" aria-label="CodigoDepartamentoEmpresa">
              <div class="card m-auto">
                <div class="card-header bg-gradient-navy">
                  <div class="card-tools">
                    
                  </div>        
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xl-12">
                        <h4 class="card-title"><i class="fad fa-clipboard-list-check"></i> Punteo (Asistencia) | Por Nómina</h4>
                      </div>
                    </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="form-group row d-flex justify-content-center m-0 p-0">
                        <div class="col col-md-12">
                          <label for="LblRuta"> <label class="text-primary text-bold" id="LblDescripcion"></label></label>
                        </div>
                  </div>
                  <div class="input-group row d-flex justify-content-center m-0 p-0">
                        <div class="col col-md-6">
                          <label class="form-control">Fecha:</label>
                        </div>
                        <div class="col col-md-6">
                          <input class="form-control" type="date" name="FechaListadoEmpleados" id="FechaListadoEmpleados" title="Fecha" onkeydown="return false" onkeyup="return false">
                        </div>
                  </div>
                  <div class="border border-info bg-cyan text text-blue" id="MostrarMensajes" style="display: none;">
                    <label for="LblMensaje"></label>
                  </div>
                  <div class="form-group row d-flex justify-content-center">
                        <table id="listadoEmpleados" class="table table-sm table-striped display responsive nowrap">
                            <thead>
                                <tr class="text-center bg-black">
                                  <th>Empleado</th>
                                  <th>Datos</th>
                                  <th>Jornada</th>
                                </tr>                
                            </thead>
                              <tbody id="listadoEmpleadosNomina">
                                
                              </tbody>
                              <tfoot>

                              </tfoot>
                          </table>
                  </div>
              </div> <!-- /.card-body -->
                  <!-- /.CARD  footer -->
                    <div class="card-footer bg-gradient-cyan p-0 d-flex justify-content-center">
                      <!-- Botón Buscar Personal -->
                      
                    </div>
              </div>      <!-- /.card -->
      </form>
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->

<!-- plantilla loading-screen . -->
<div id="loading-screen" style="display:none">
  <img src="img/spinning-circles.svg">
  <h3>
    <label for="LblDescripcion" class="bg-gradiente-gray" id="LblDescripcionMensaje">Por Favor Espere...</label>
  </h3>
</div>

<!-- plantilla que contiene el . -->
{% include 'Asistencia/VentanaPunteo.html' %}

{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}