 {# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
<style>
/* mensajes de error para el validate de los form de input*/
 input.error {
    border-color: #f00 !important;
}

small.required {
    color:#f00;
}
  
/* when not active use specificity to override the !important on border-(color) */
.nav-tabs .nav-link:not(.active) {
    border-color: transparent !important;
}

fieldset {
	/*background-color: rgba(111, 66, 193, 0.3);*/
	  border-radius: 6px;
    border: 1px solid #0080FF;
    padding: 10px 10px 10px 10px;
}

legend {
	background-color: #FFFFFF;
	border: 1.5px solid #0080FF;
	border-radius: 4px;
	color: var(--green);
	font-size: 17px;
	font-weight: bold;
	padding: 5px 5px 3px 7px;
	width: auto;
}
</style>
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
  <script type="text/JavaScript" src="js/Catalogos/EditarNuevoTransporte.js"></script>
  <script type="text/javascript" src="js/jquery-mask/jquery.maskedinput.js"></script>
  <script language="javascript">
    // VALIDAR LOS ENTER EN EL FORMULARIO.
      $(document).ready(function() {
        $('form').keypress(function(e){   
          if(e == 13){
            return false;
          }
        });

        $('input').keypress(function(e){
          if(e.which == 13){
            return false;
          }
        });
        // Llenas LISTAS DESPLEGABLES.
            listar_tipo_transporte(); // LLENAR CATALOGO TIPO TRANSPORTE.
      //  CUANDO CAMBIE EL SELECT.  
      });
  </script>
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header p-0">
      <div class="container-fluid">
        <div class="row mb-1">
          <div class="col-sm-6">
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="transporte.php" data-toggle="tooltip" data-placement="left" title="Usuarios">Buscar</a></li>
              <li class="breadcrumb-item active"><label for="iEdicionNuevo">Editar</label></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

  <!-- Main content -->
    <section class="content">
     <!-- FORM PRINCIPAL -->
     <form action="" method="post" id="formUsers" name="formUsers" role="form" enctype="multipart/form-data">
     <div class="tab-content tab-validate"> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
        <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            
        <input type="hidden" id="accion_buscar" name="accion_buscar" value = "GenerarCodigoNuevo" class="{required:true}">-->            
        <input type="hidden" id="id_user" name="id_user" value = "{{ id }}">            
        <input type="hidden" id="accion" name="accion" value = "{{ accion }}">            
        <!-- VARIABLES PARA LA MATRICULA CUANDO SEA NUEVO -->
      <div class="row">
        <div class="col col-md-12">
          <div class="card">
            <div class="card-header bg-gradient-navy">

              <div class="row">
                <div class="col col-md-6 p-0">
                  <h3 class="card-title"><span class="fas fa-bus-alt"></span><label class="text-white" for="txtEdicionNuevo"> Edición | Nuevo</label></h3>
                </div>
                <div class="col col-md-6 d-flex justify-content-end p-0">
                  <button type="submit" class="btn btn-primary" id="Guardar" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Guardar"><span class="fal fa-save"></span></button>
                  <button type="button" class="btn btn-info" id="goBuscar" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Buscar"><span class="fal fa-search"></span></button>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Mini"><i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
            <!-- Nav tabs -->
              <div class="container py-2">
                <ul class="nav nav-tabs border-0" id="myTab" role="list">
                  <li class="nav-item">
                      <a class="nav-link active border border-primary border-bottom-0" id="home-tab" data-toggle="tab" href="#home" role="list" aria-controls="home" aria-selected="true">Transporte</a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane p-2 active border border-primary" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <!-- MODAL BODY ROW -->
                        <div class="modal-body row">
                          <div class="col col-md-6">
                              <!-- INICIO DEL FORMULARIO -->
                              <fieldset>
                                  <legend>Información General</legend>
                                    <!-- codigo estatus. -->
                                    <div class="form-group row">
                                      <label class="col-lg-3 col-form-label form-control-label">Estatus</label>
                                      <div class="col-lg-9">
                                        <select class="custom-select" id="lstEstatus" name="lstEstatus" aria-label="lstEstatus"></select>
                                      </div>
                                  </div>
                                  <!-- codigo tipo transporte. -->
                                  <div class="form-group row">
                                      <label class="col-lg-3 col-form-label form-control-label">Tipo Transporte</label>
                                      <div class="col-lg-9">
                                        <select class="custom-select" id="lstTipoTransporte" name="lstTipoTransporte" aria-label="TipoTransporte"></select>
                                      </div>
                                  </div>
                                  <!-- NUMERO EQUIPO -->
                                  <div class="form-group row">
                                      <label class="col-lg-3 col-form-label form-control-label">N.º Equipo</label>
                                      <div class="col-lg-9">
                                          <input class="form-control" type="text" id="txtNumeroEquipo" name="txtNumeroEquipo" aria-label="NumeroEquipo">
                                      </div>
                                    </div>
                                  <!-- NUMERO PLACA  -->
                                      <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label">N.º Placa</label>
                                        <div class="col-lg-9">
                                          <input class="form-control" type="text" id="txtNumeroPlaca" name="txtNumeroPlaca" aria-label="NumeroPlaca">
                                        </div>
                                      </div>
                                  <!-- DESCRIPCION -->
                                  <div class="form-group row">
                                      <label class="col-lg-3 col-form-label form-control-label">Descripción</label>
                                      <div class="col-lg-9">
                                        <input class="form-control" type="text" id="txtDescripcion" name="txtDescripcion" maxlength="25" placeholder="" autocomplete = "off" aria-label="Descripcion">
                                      </div>
                                    </div>
                                </fieldset>
                              <!-- INICIO DEL FORMULARIO -->
                          </div>
                          <div class="col col-md-6">
                            <fieldset>
                              <legend>Unidad de Transporte</legend>
                            </fieldset>
                          </div>
                        </div><!-- FIN MODAL BODY INFORMACIÓN GENERAL-->
                    </div>

                </div> <!-- /.tab-content -->
              </div> <!-- /.container -->
            </div> <!-- /.card-body -->
            <!-- /.card-footer -->
            <div class="card-footer bg-gradient-cyan">

            </div>
          </div> <!-- /.card -->
        </div> <!-- VALIDATE DE TODO EL DIV PARA LOS DIFERENTES INPUT'S -->
        </div>
      </div>
    </form> <!-- fin del form -->            
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->
{% endblock %}

{% block loginUser %}
<!--	{% include 'layout-login-user.html' %} -->
{% endblock %}