{# Heredando la plantilla principal #}

{% extends 'default_layout.html' %}

{% block extraCSS %}
  <link href="css/styles-loading.css" rel="stylesheet">
  <!-- DATA TABLE. -->
  <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"  rel="stylesheet" />
<!-- DATA TABLE. botones -->
  <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <style>
          /* mensajes de error para el validate de los form de input*/
          input.error {
              border-color: #f00 !important;
          }  
          small.required {
              color:#f00;
          } 
          /* when not active use specificity to override the !important on border-(color) */
          .nav-tabs .nav-link:not(.active) {
              border-color: transparent !important;
          }

        /* CARD HORIZONAL CCSS CONFIGURACÓN */
          .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }
    </style>
    <style>
      .btn-exportar-excel {
        background-color: #198754 !important;
        color: white !important;
        
      }

      .btn-exportar-pdf {
          background-color: #dc3545 !important;
          color: white !important;
      }

      .btn-exportar-print {
          background-color: #00a7c9 !important;
          color: white !important;
      }
    </style>
{% endblock %}

{% block javascripts %}
<!-- JS para esta página. -->
  <script type="text/JavaScript" src="js/Reportes/Principal.js"></script>
<!-- JS DATATABLES.NET. -->
  <script type="text/JavaScript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script type="text/JavaScript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
  <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
  <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/JavaScript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
  <script type="text/JavaScript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<!-- DATATABLES.NET. -->
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
<script>
  $(document).ready(function () { 
    var screen = $('#loading-screen');
      configureLoadingScreen(screen);
  })
</script>
<!-- DEINIR EL AJAX START- STOP Y ERROR -->
{% endblock %}

{% block contenidos %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Section Content Header (Page header) -->
  <section class="content-header p-0" style="background-color: rgb(234, 236, 238);">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="informes.php"> Informes</a></li>
              <li class="breadcrumb-item active">Control de Tiquete e Ingreso</li>
              <input type="hidden" name="NombreInstitucion" id="NombreInstitucion" value="{{ nombre_institucion }}">
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
  </section>
<!-- Section que contiene el card -->
  <section class="col col-md-4 m-auto">
    <div class="card m-auto">
      <!-- /.card-header -->
      <div class="card-header bg-gradient-navy">
      <!-- /.card-tools -->
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Minimizar"><i class="fas fa-minus"></i>
          </button>
        </div>
        <!-- /.card-title -->
        <h3 class="card-title"><i class="far fa-cash-register"></i> Reporte Diario</h3>
        <!-- /.card-tools -->
      </div>     
        <!-- /.CARD BODY -->
        <div class="card-body">
        <!-- /.INPUT PARA EL MENU CONTEXTUAL -->
            <input type="hidden" id="MenuTab" value="{{ codigo_perfil }}">         
                <div class="row" id="DivSoloParaContabilidad">
                  <div class="col">
                    <div class="form-group">
                      <label for="FechaProduccion">Fecha</label>
                        <input type="date" id="FechaProduccion" name="FechaProduccion" class="form-control" required autofocus>
                        <!-- Botón Buscar Producción -->
                        <button class="btn btn-primary" id="goBuscarProduccion" data-toggle="tooltip" data-placement="left" title="Buscar"> 
                          <div style="text-align:center;"><i class="fa fa-search"></i></div>  
                        </button>
                        <!-- Botón Buscar Producción Informe Generales Diferencias.-->
                        <button class="btn btn-dark" id="goProduccionDiferencias" data-toggle="tooltip" data-placement="left" title="Guardar Diferencias"> 
                          <div style="text-align:center;"><i class="fal fa-money-check-alt"></i></div>  
                        </button>
                        <!-- Botón Imprimir Toda La Producción.-->
                        <button class="btn btn-info" id="goReporteGeneral" data-toggle="tooltip" data-placement="left" title="Reporte General"> 
                          <div style="text-align:center;"><i class="fa fa-print "></i></div>  
                        </button>
                        <!-- Botón Imprimir Toda La Producción por unidad (bus).-->
                        <button class="btn btn-info" id="goReporteGeneralUnidadTransporte" data-toggle="tooltip" data-placement="left" title="Reporte por Unidad"> 
                          <div style="text-align:center;"><i class="fal fa-bus-alt"></i></div>  
                        </button>
                        <!-- Botón Imprimir Toda La Producción por Motorista.-->
                        <button class="btn btn-info" id="goReporteGeneralMotorista" data-toggle="tooltip" data-placement="left" title="Reporte por Motorista"> 
                          <div style="text-align:center;"><i class="fal fa-address-card"></i></div>  
                        </button>
                    </div>
                  </div> 
                </div>
      
              <div class="form-group">
                <label for="NumeroCorrelativo">Buscar por N.° Control</label>
                <input type="text" id="NumeroCorrelativo" name="NumeroCorrelativo" class="form-control input-lg font-weight-bold text-green text-right" value="" style="font-size: xx-large;" autocomplete="off">
              </div>
                <div class="row" id="MenuSoloParaGerenciaTrafico">
                  <div class="col">
                    <label for="goBuscarPorUnidad">Buscar Por:</label>
                    <div class="form-group">
                        <!-- Botón Buscar por Undiad (Bus).-->
                        <button class="btn btn-info" id="goBuscarPorUnidad" data-toggle="tooltip" data-placement="left" title="Buscar por Unidad de Transporte"> 
                          <div style="text-align:center;"><i class="fad fa-bus-school"></i></div>  
                        </button>                    
                        <!-- Botón Buscar por Motorista-->
                        <button class="btn btn-info" id="goBuscarPorMotorista" data-toggle="tooltip" data-placement="left" title="Buscar por Motorista"> 
                          <div style="text-align:center;"><i class="fad fa-user-tie"></i></div>  
                        </button>                    
                        <!-- Botón Buscar por Tiquete.-->
                        <button class="btn btn-info" id="goBuscarPorTiquete" data-toggle="tooltip" data-placement="left" title="Buscar por Tiquete"> 
                          <div style="text-align:center;"><i class="fal fa-ticket"></i></div>  
                        </button>                    
                    </div>
                  </div>
                </div>
        </div>
        <!-- /.CARD  footer -->
        <div class="card-footer border-success bg-gradient-cyan p-0">
          <label for=""></label>
        </div>
    </div>  <!-- CERRAR BODY CARD-->
  </section>
  
<!-- BLOQUE DE BUSQUEDAS -->
  <section class="col m-auto" id="BuscarPorMotorista" style="display: none;">
    <div class="card p-0 mt-2">
      <div class="card-header bg-gradient-navy">
        <h5 class="card-title"><i class="fad fa-user-tie"></i> Por Motoristas</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col col-md-6">
            <form action="" method="post" id="formBuscarPorMotorista" name="formBuscarPorMotorista" role="form" enctype="multipart/form-data">
              <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            -->
              <input type="hidden" id="id_user" name="id_user" value = "0">            
              <input type="hidden" id="accion" name="accion" value = "BuscarPorMotorista">    
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-success elevation-1"><i class="fad fa-search"></i></span>
                  <div class="info-box-content">
                    <!-- SELECCIONAR ENTRE TODO Y FECHA            -->
                    <div class="form-group row">
                      <label class="col-lg-3 col-form-label form-control-label">Buscar Por:</label>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                          <input type="radio" class="form-check-input" id="radioTodoPM" name="OptBuscarPM" value="Todo" checked>Todo
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radioFechaPM" name="OptBuscarPM" value="Fecha">Fecha
                        </label>
                      </div>
                      <div class="form-group form-select">
                        <label for="Desde">Desde: 
                            <input type="date" id="FechaDesdePM" name="FechaDesdePM" class="form-control" readonly="readonly">
                        </label>
                        
                        <label for="Hasta">Hasta: 
                          <input type="date" id="FechaHastaPM" name="FechaHastaPM" class="form-control" readonly="readonly">
                      </label>
                      </div>
                    </div>
                      <!-- NOmbre Personal (motorista) . -->
                      <div class="form-group row">
                          <label class="col col-md-12 col-form-label form-control-label">Nombre (motorista)</label>
                          <div class="col col-md-12">
                            <div class="input-group">
                              <select class="form-select" name="lstPersonalPorMotorista" id="lstPersonalPorMotorista"></select> 
                              <!-- Botón Buscar Producción -->
                              <button type="button" class="btn btn-secondary" id="goBuscarProduccionPM" data-toggle="tooltip" data-placement="left" title="Buscar"> 
                                <div style="text-align:center;"><i class="fa fa-search"></i></div>  
                              </button>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
            </form>
          </div>
          <div class="col col-md-6">
            <div class="card-horizontal"> <!-- card horizontal APERTURA-->
              <div class="img-square-wrapper">
                <img class="card-img-top img-fluid" style="width: 8rem;" id="ImagenPersonalGlobal" src="/acomtus/img/avatar_masculino.png">
              </div>
              <div class="card-body p-0"> <!-- card body CIERRE-->
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-success elevation-1"><i class="fad fa-dollar-sign"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Total Ingreso</span>
                    <span class="info-box-number">
                      <label for="LblProduccionesTotalIngresoPorMotorista" style="padding: 0px; font-size: large; color:darkblue; text-align: left;">$</label>
                    </span>
                  </div>
                </div>
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fal fa-ticket-alt"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Total Tiquete </span>
                    <span class="info-box-number">
                      <label for="LblProduccionesTotalPorMotorista" style="padding: 0px; font-size: large; color:darkblue; text-align: left;"></label>
                    </span>
                  </div>
                </div>
              </div> <!-- card body CIERRE-->
            </div> <!-- card horizontal CIERRE-->
          </div> <!-- COL MD-6 CIERRE-->
          </div>
        </div>
      <!-- DETALLE table DE LA PRODUCCIÓN DIFERENCIAS -->
        <table id="listadoPorMotorista" class="table table-condensed display responsive nowrap" style="width: 100%; padding: 0;">
          <thead>
              <tr>
                <th>Fecha</th>
                <th># Control</th>
                <th>N.º Unidad y Placa</th>
                <th>Ruta</th>
                <th>P/U</th>
                <th>Tiquete/V</th>
                <th>Ingresos</th>
              </tr>                
          </thead>
            <tbody id="listadoPorMotoristaOk">
            </tbody>
            <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
            </tfoot>
        </table>        
    </div>
      <div class="card-footer bg-gradient-cyan p-0">...</div>
  </section>
<!-- ************************************************************************************************************************************************** -->
<!-- ************************************************************************************************************************************************** -->
<!-- POR n.º UNIDAD Y N.º PLACA -->
  <!-- BLOQUE DE BUSQUEDAS  POR UNIDAD PLACA-->
  <section class="col m-auto" id="BuscarPorUnidadPlaca" style="display: none;">
      <div class="card p-0 mt-2">
        <div class="card-header bg-gradient-navy">
          <h5 class="card-title"><i class="fal fa-bus-alt"></i>Por Unidad de Transporte</h5>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-md-6">
              <form action="" method="post" id="formBuscarPorUnidadPlaca" name="formBuscarPorUnidadPlaca" role="form" enctype="multipart/form-data">
                <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            -->
                  <input type="hidden" id="accion_buscar" name="accion_buscar" value = "BuscarPorUnidadPlaca">   
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fad fa-search"></i></span>
                    <div class="info-box-content">
                      <!-- SELECCIONAR ENTRE TODO Y FECHA            -->
                      <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Buscar Por:</label>
                        <div class="form-check-inline">
                          <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radioTodoUP" name="OptBuscarUP" value="Todo" checked aria-label=""> Todo
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <label class="form-check-label" for="radio2">
                            <input type="radio" class="form-check-input" id="radioFechaUP" name="OptBuscarUP" value="Fecha"> Fecha
                          </label>
                        </div>
                        <div class="form-group form-select">
                          <label for="Desde">Desde: 
                              <input type="date" id="FechaDesdeUP" name="FechaDesdeUP" class="form-control" readonly="readonly">
                          </label>
                          
                          <label for="Hasta">Hasta: 
                            <input type="date" id="FechaHastaUP" name="FechaHastaUP" class="form-control" readonly="readonly">
                        </label>
                        </div>
                      </div>
                      <!-- NOmbre Personal (motorista) . -->
                      <div class="form-group row">
                          <label class="col col-md-5 col-form-label form-control-label">N.º Unidad y Placa</label>
                          <div class="col col-md-7">
                            <div class="input-group">
                              <select class="form-select" name="lstPorUnidadPlaca" id="lstPorUnidadPlaca"></select> 
                              <!-- Botón Buscar Producción -->
                              <button type="button" class="btn btn-primary" id="goBuscarPorUnidadDeTransporte" data-toggle="tooltip" data-placement="left" title="Buscar"> 
                                <div style="text-align:center;"><i class="fa fa-search"></i></div>  
                              </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
            </div>
            <div class="col col-md-6">
              <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fad fa-dollar-sign"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Total Ingreso</span>
                  <span class="info-box-number">
                    <label for="LblProduccionesTotalIngresoPorUnidadPlaca" style="padding: 0px; font-size: large; color:darkblue; text-align: left;">$</label>
                  </span>
                </div>
              </div>
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-warning elevation-1"><i class="fal fa-ticket-alt"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Total Tiquete </span>
                    <span class="info-box-number">
                      <label for="LblProduccionesTotalPorUnidadPlaca" style="padding: 0px; font-size: large; color:darkblue; text-align: left;">0</label>
                    </span>
                  </div>
                </div>
            </div>
          </div>
        <!-- DETALLE table DE LA PRODUCCIÓN DIFERENCIAS -->
          <table id="listadoPorUnidadPlaca" class="table table-condensed display responsive nowrap" style="width: 100%;">
            <thead>
                <tr>
                  <th>Fecha</th>
                  <th># Control</th>
                  <th>Código</th>
                  <th>Nombre Empleado(Motorista)</th>
                  <th>Ruta</th>
                  <th>P/P</th>
                  <th>Cant./Tiquete</th>
                  <th>Ingresos</th>
                </tr>                
            </thead>
              <tbody id="listadoPorUnidadPlacaOk">
              </tbody>
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </tfoot>
          </table>              
        </div>
        <div class="card-footer bg-gradient-cyan">...</div>
      </div>
  </section>
<!-- BLOQUE DE BUSQUEDAS -->
<!-- DETALLE DE LA PRODUCCIÓN DIFERENCIAS -->
  <section id="ProduccionDiferencias" style="display: none;">
    <div class="card">
      <div class="card-header bg-gradient-navy">
        <h5 class="card-title">Ingresos Diarios | Diferencias</h5>
      <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
          </button>
      </div>
    </div>
    <div class="card-body">
      <form action="" method="post" id="formDiferencias" name="formDiferencias" role="form" enctype="multipart/form-data">
        <!-- INPUT HIDE CONTROLA EL GUARDO DEL REGISTRO..            -->
        <input type="hidden" id="id_user" name="id_user" value = "0">            
        <input type="hidden" id="accion" name="accion" value = "Agregar">    
          <!-- NOmbre Personal (motorista) . -->
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Buscar (motorista)</label>
            <div class="col-lg-9">
                <select class="form-select" name="lstPersonal" id="lstPersonal"></select> 
            </div>
          </div>
          <!-- nombre puede ser cualquier -->
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" id="txtnombres" name="txtnombres" maxlength="60" required="required" placeholder="" autocomplete = "off">
            </div>
          </div>
          <!-- VALOR -->
          <div class="form-group row">
            <!-- codigo Bus N.º . -->
            <label class="col-lg-3 col-form-label form-control-label">Valor $</label>
            <div class="col-lg-3">
              <input type="text" class="form-control font-weight-bold input-md" name="Valor" id="Valor" value="" style="font-size: medium; text-align: right;" autocomplete="off">
            </div>
          </div>
          <!-- CONCEPTO -->
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Concepto</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" id="concepto" name="concepto" maxlength="60" required="required" placeholder="" autocomplete = "off">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
              <div class="input-group">
                <!-- GUARDAR Y CANCELAR  PRODUCCIÓN DIFERENCIAS -->
                <input class="btn btn-primary btn-sm" type="submit" value="Guardar" name="Guardar">
                <input class="btn btn-secondary" type="button" id="goDiferenciasCancelar" name="goDiferenciasCancelar" value="Cancelar"> 
              </div>
            </div> <!-- DIV  -->
          </div>
      </form>
    <!-- DETALLE table DE LA PRODUCCIÓN DIFERENCIAS -->
      <table id="listadoDiferencia" class="table table-condensed display responsive nowrap" style="width: 100%; padding: 0; text-align: right;">
        <thead>
            <tr>
              <th style="text-align: left; ">Id</th>
              <th style="text-align: left;">Nombre</th>
              <th style="text-align: center;">Valor $</th>
              <th style="text-align: left;">Concepto</th>
              <th style="text-align: right;"></th>
              <th style="text-align: right;"></th>
            </tr>                
        </thead>
          <tbody id="listadoDiferenciasOk">
          </tbody>
          <tfoot>

          </tfoot>
      </table>              
    </div>
      <div class="card-footer bg-gradient-cyan">...</div>
    </div>
  </section>

<!-- DETALLE DE LA PRODUCCIÓN tabla -->
  <section id="ProduccionTabla" style="display: none;">
  <div class="card">
    <div class="card-header bg-gradient-navy">
      <h5 class="card-title">Producción Diaria</h5>
      <div class="card-tools">
        <button type="button" class="btn btn-info" id="goImprmirProduccionDiaria" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Imprimir Producción">
          <span class="fal fa-print-search"></span>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-md-6">
          <div class="info-box bg-yellow p-1">
            <span class="info-box-icon"><i class="fad fa-tags"></i></span>
            <div class="info-box-content bg-gradient-warning">
              <label class="info-box-number text-bold text-lg" id="LblProduccionesTotal" for="LblProduccionesTotal">0</label>
            <div class="progress">
              <div class="progress-bar"></div>
            </div>
            <label for="LblCantidadProduccionesVendidas" id="LblCantidadProduccionesVendidas" class="progress-description text-bold text-lg"></label>
            </div>
            
            </div>
        </div>
        <div class="col col-md-6">
          
        </div>
      </div>

      <div class="row p-0">
        <div class="col d-flex justify-content-between">

          <label for="LblTotalTiquetes" id="LblTotalTiquetes" style="padding: 0px; font-size: large; color:darkblue; text-align: left;"># Tiquetes Vendidos: </label>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-between">
          <label for="LblProduccionesTotalIngreso" id="LblProduccionesTotalIngreso" style="padding: 0px; font-size: large; color:darkblue; text-align: left;">Total Ingreso $ </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table id="listado" class="table table-striped table-hover">
              <thead>
                <tr>
                  <th colspan="3" style="padding: 0px; font-size: large; color:blue; text-align: left;"></th>
                  <th colspan="2" style="padding: 0px; font-size: large; color: white; text-align: center; background-color:teal;"># Controles</th>
                  <th colspan="4" style="padding: 0px; font-size: large; color:white; text-align: center; background-color: darkgreen;"># Tiquetes</th>
                  <th colspan="2" style="padding: 0px; font-size: large; color:blue; text-align: left; "></th>
                </tr>
                  <tr>
                    <th></th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: left;"></th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Ruta</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: right;">Rango</th>
                    <th style="padding: 0px; font-size: l; color:blue; text-align: center;">Cantidad</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Entregados</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Devolucion</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Vendidos</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;">Precio Público</th>
                    <th style="padding: 0px; font-size: medium; color:green; text-align: right;">$ Ingreso</th>
                  </tr>                
              </thead>
                <tbody id="listadoOk">
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: left;"></th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Ruta</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: right;">Rango</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;">Cantidad</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Entregados</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Devolucion</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;"># Vendidos</th>
                    <th style="padding: 0px; font-size: medium; color:blue; text-align: center;">Precio Público</th>
                    <th style="padding: 0px; font-size: medium; color:green; text-align: right;">$ Ingreso</th>
                  </tr>
                </tfoot>
            </table>
          </div>
          
        </div>
      </div>
    </div> <!-- CIERRE DEL CARD BODY-->
    </div>  <!-- CIERRA DEL CARD-->
  </section> <!-- CIERE DE LA SECTION DEL CARD PRODUCCTION-->

    <!-- DETALLE DE LA PRODUCCIÓN ASIGNADA -->
  <section id="field_produccion_detalle" style="display: none;">
    <div class="card">
      <div class="card-header bg-gradient-navy"> <!-- BARRA DE TÍTULO - APERTURA -->
        <div class="row">
          <div class="col col-md-6 d-flex justify-content-start p-0">
            <h5 class="card-title">Detalle de la Producción</h5>
          </div>
          <div class="col col-md-6 d-flex justify-content-end p-0">
            <div class="card-tools">
              <span class="badge badge-primary bg-white"><label for="LblDetalleTotalIngreso" style="padding: 0px; font-size: medium; text-align: left;">Total $ </label></span>
              <button type="button" class="btn btn-info" id="goImprmirProduccionDetalle" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Imprimir Producción">
                <span class="fal fa-print-search"></span>
              </button>
              <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
          </div>
        </div>
      </div>  <!-- BARRA DE TÍTULO - CIERRE -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table id="listadoDetalle" class="table table-hover table-striped">
                <thead>
                    <tr>
                      <th></th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;"># Control</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Ruta</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: center;">Equipo</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Motorista</th>
                      <th style="padding: 0px; font-size: medium; color:green; text-align: right;">$ Ingreso</th>
                    </tr>                
                </thead>
                  <tbody id="listadoDetalleOk">
                  </tbody>
                  <tfoot>
                    <tr>
                      <th></th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;"># Control</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Ruta</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: center;">Equipo</th>
                      <th style="padding: 0px; font-size: medium; color:blue; text-align: left;">Motorista</th>
                      <th style="padding: 0px; font-size: medium; color:green; text-align: right;">$ Ingreso</th>
                    </tr>
                  </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div> <!-- CIERRE DEL CARD BODY-->
      <div class="card-footer bg-gradient-cyan"></div>
    </div> <!-- CIERRE DEL CARD-->
  </section>

    <!-- DETALLE DE LA PRODUCCIÓN ASIGNADA POR MOTORISTA -->
    <section id="FieldsetTabla" style="display: none;">
      <div class="card">
        <div class="card-header bg-gradient-navy text-white"> <!-- BARRA DE TÍTULO - APERTURA -->
          <div class="row">
            <div class="col col-md-6 d-flex justify-content-start p-0">
              <h5 class="card-title">Producción | Talonario - Serie - Tiquete</h5>
            </div>
            <div class="col col-md-6 d-flex justify-content-end p-0">
              <div class="card-tools">
                <span class="badge badge-dark bg-white">
                  <label for="LblNombreMotorista" id="LblNombreMotorista"></label> <!-- NOMBRE Y TOTAL INGRESO -->
                </span>
              </div>
              <button type="button" class="btn btn-info" id="goImprmirProduccionDetalleMotorista" tabindex="-1" data-toggle="tooltip" data-placement="top" title="Imprimir Producción">
                <span class="fal fa-print-search"></span>
              </button>
              <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div> <!-- card-->
          </div> <!-- row-->
        </div> <!-- header card--> <!-- BARRA DE TÍTULO - CIERRE -->
          
          <div class="card-body"> <!-- BARRA DE TÍTULO - APÈRTURA -->
              <div class="row">
                <!--   RUTA  -->
                <div class="col col-md-6">
                  <div class="info-box">
                    <div class="img-square-wrapper">
                      <img class="card-img-top img-fluid" style="width: 8rem;" id="ImagenPersonal" src="#">
                    </div>
                    <span class="info-box-icon bg-info"><i class="fal fa-info-circle"></i></span>
                    <div class="info-box-content p-0">
                      <span class="info-box-text">Código: <span class="badge badge-dark" id="LblDescripcionCodigo">CódigoPersonal</span></span>
                      <span class="info-box-text">Ruta: <span class="badge badge-dark" id="LblDescripcionRuta">Ruta</span></span>
                      <span class="info-box-text">Unidad: <span class="badge badge-dark" id="LblDescripcionUnidad">Unidad</span></span>
                      <span class="info-box-text">Fecha: <span class="badge badge-dark" id="LblListadoIdFecha">Fecha</span></span>
                    </div>
                  </div>

                </div>
                <!--   tiquete vendidos, devueltos y total  -->
                <div class="col col-md-6 d-flex justify-content-end">
                  <div class="info-box">
                    <span class="info-box-icon bg-info"><i class="fad fa-dollar-sign"></i></span>
                    <div class="info-box-content p-0">
                      <span class="info-box-text">Precio Público: <span class="badge badge-dark" id="LblListadoPrecio">Precio</span></span>
                      <span class="info-box-text">Cantidad Vendida: <span class="badge badge-dark" id="LblListadoCantidad">Cantidad</span></span>
                      <span class="info-box-text">Total: <span class="badge badge-dark" id="LblListadoTotalIngreso">Total</span></span>
                    </div>
                  </div>
                </div> 
              </div>
          
              <div class="row"> <!-- FILA PARA LA TABLA-->
                <div class="col">
                  <div class="table-responsive">
                    <table id="listadoAsignacion" class="table table-hover table-stripe">
                      <thead>
                          <tr>
                            <th style="text-align: left; "># Correlativo</th>
                            <th style="text-align: center; ">Estatus</th>
                            <th style="text-align: center;">Serie</th>
                            <th style="text-align: right;">Cola</th>
                            <th style="text-align: right;">Desde</th>
                            <th style="text-align: right;">Hasta</th>
                            <th style="text-align: right;">Total</th>
                          </tr>                
                      </thead>
                        <tbody id="listadoDevolucionIngresoOk">
                        </tbody>
                        <tfoot>
                          <tr>
                              <th style="text-align: left;"># Correlativo</th>
                              <th style="text-align: center; ">Estatus</th>
                              <th style="text-align: center;">Serie</th>
                              <th style="text-align: right;">Cola</th>
                              <th style="text-align: right;">Desde</th>
                              <th style="text-align: right;">Hasta</th>
                              <th style="text-align: right;">Total</th>
                          </tr>
            
                          <div class="row">
                            <div class="col">
                              <!-- <label for="">Inventiario Tiquete</label> -->
                                <input type="hidden" name="CodigoInventarioTiquete" id="CodigoInventarioTiquete"> 
                              <!-- <label for="">Cantidad Tiquete</label> -->
                                <input type="hidden" name="CantidadTiqueteAsignado" id="CantidadTiqueteAsignado">
                              <!--<label for="">Precio Publico</label> -->
                                <input type="hidden" id="PrecioPublico">
                              <!-- <label for="">total</label> -->
                                <input type="hidden" name="TotalAsignado" id="TotalAsignado">
                              <!-- <label for="">Codigo producción Asignado</label> -->
                                <input type="hidden" id="CodigoProduccionAsignacion">
                              <!-- <label for="">Código Producción</label> -->
                                <input type="hidden" id="CodigoProduccion">
                              <!-- <label for="">Código Producción</label> -->
                              <input type="hidden" id="DesdeTablaAsignado">
                            </div>
                          </div>
                        </tfoot>
                  </table> <!-- CIERRE DE LA TABLA-->
                </div>
              </div>
              
              </div> <!-- CIERRE FILA PARA LA TABLA-->
          </div> <!-- CIERRE DEL CARD BODY-->
        <div class="card-footer bg-gradient-cyan"></div>
      </div> <!-- div card -->
    </section>
</div> <!-- /.content-Wrapper, Contains page content. -->

<!-- plantilla loading-screen . -->
<div id="loading-screen" style="display:none">
  <img src="img/spinning-circles.svg">
  <h3>
    <label for="LblDescripcion" class="bg-gradiente-gray" >Por Favor Espere...</label>
  </h3>
</div>

<!-- plantilla que contiene el . -->
{% include "VentanaBuscarPorTiquete.html" %}

{% endblock %}

{% block loginUser %}
<!--	{% include "layout-login-user.html" %} -->
{% endblock %}